/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-oct-2017, 18:46:30
    Author     : instructor
*/

body{
    background-color: #7773;
}

/* Estilos para textos */

/* label color */
.input-field label {
    color: #1E88E5 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #1E88E5 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1E88E5 !important;
    box-shadow: 0 1px 0 0 #1E88E5 !important;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #1E88E5 !important;
}

/* fin estilos para textos */

/* Trunctar textos */
.ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-content li span{
    color: #1E88E5 !important;
}

.margin-error-login{
    margin-top: 10px;
    margin-bottom: 10px;
}

main, footer {
    padding-left: 300px;
}

.brand-logo {
    font-size: 1.5em !important;
}
.navbar-fixed {
    z-index: 9999;
}

.modal-for-fixed{
    z-index: 99999 !important;
}

.top-navbar {
    margin-top: 64px;
}

.contenedor-principal{
    margin: 3%;
}

.separador{
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-spacer{
    padding: 30px;
    margin: 0 auto;
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}

.item-cerrar-side-nav{
    display: block;
}

.icono-app{
    font-size: 1.8em !important;
}

.ajustar-pdf{
    min-height: 100vh;
    min-width: 100%;
}
@media only screen and (max-width : 992px) {
    main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width : 993px) {
    .brand-logo{
        margin-left: 30px;
    }
    .item-cerrar-side-nav{
        display: none;
    }
}

@media only screen and (max-width : 600px) {
    .top-navbar {
        margin-top: 56px;
    }
}

